{% extends 'base.html' %}
{% block any_head %}
<style>
  .main-header {
    color: rgb(233, 22, 127);
    font-size: 25px;
    padding-top: 20px;
  }

  .main-queue {
    padding-top: 100px;
  }
</style>
{% endblock %}
{% block main_content %}
<div class="main-queue">
  <a class="btn btn-info btn-lg" href="interviewer.html" role="button">Create queue</a>
  <a class="btn btn-light btn-lg" href="main.html" role="button">Join queue</a>
</div>
<br />
<div class="main-header">Upcoming</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="col">Course</th>
        <th class="col">Giving/Taking</th>
        <th class="col">Date</th>
        <th class="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for element in table %}
      <tr>
        <td>{{element.course}}</td>
        <td>{{element.Giving/Taking}}</td>
        <td>{{element.Date}}</td>
        <td>{{element.Time}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}