{% extends 'base.html' %}
{% block main_content %}
<div class="row row-cols-1 row-cols-sm-2 intro align-content-center justify-content-center h-100">
  <div class="col px-2 py-2">
    <div class="btn-group">
      <a href="/create/add" class="btn btn-danger">
        Create New Room and generate room code/link
      </a>
    </div>
  </div>
  <div class="col px-2 py-2">
    <div class="btn-group">
      <a href="/create/invite" class="btn btn-danger">
        Create New Room and invite participants
      </a>
    </div>
  </div>
  <div class="col px-2 py-2">
    <a href="/join" class="btn btn-primary">
      Join a room with code
    </a>
  </div>
</div>
{% endblock %}