{% extends 'base.html' %}
{% block main_content %}
<div class="row row-cols-1 row-cols-sm-2 intro align-content-center justify-content-center h-100">
  <div class="col px-2 py-2">
    <div class="btn-group">
      <a href="/create/add" class="btn btn-danger">
        Create New Room and add participants
      </a>
    </div>
  </div>
  <div class="col px-2 py-2">
    <div class="btn-group">
      <a href="/create/invite" class="btn btn-danger">
        Create New Room and invite participants
      </a>
    </div>
  </div>
  <div class="col px-2 py-2">
    <a href="/join" class="btn btn-primary">
      Join a room with code
    </a>
  </div>
</div>
{% endblock %}
{% block body_bottom %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
  integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
  crossorigin="anonymous"></script>
<script defer src="/static/client.js"></script>
{% endblock %}