{% extends 'base.html' %}
{% block main_content %}
{% block addl_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='manage.css') }}">
{% endblock %}
<div class="table-responsive">
  <ol class="list-group participants">
    {% for participant in participants %}
      {% set user = participant["user"] %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="queue-position">{{participant["queuePosition"]}}</div>
      <div class="ms-2 me-auto name-container">
        <div class="profile-pic">
          <span class="imgHelper"></span>
          <img class="rounded-circle" src="{{user['profile_pic']}}" width="55" />
        </div>
        <div class="name">{{user['name']}}</div>
        <div class="email">{{user['email']}}</div>
      </div>
      <div class="btn-group status">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Status
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Done</a></li>
          <li><a class="dropdown-item" href="#">Cancelled</a></li>
        </ul>
      </div>
      <div class="btn-group notify">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Notify
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Notify through website</a></li>
          <li><a class="dropdown-item" href="#">Notify through mail</a></li>
        </ul>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}