{% extends 'base.html' %}
{% block main_content %}
<div class="my-5" style="margin-left: auto; margin-right: auto;">
  <h3>Create a Room</h3>
  <p>Email of Interviewees (in csv/Excel, one column format, no header)</p>
  <form action="/attendees/add" method="POST" class="mx-auto" enctype="multipart/form-data" style="max-width: 500px;">
    <div class="row row-cols-1 input-group custom-file mb-3">
      <div class="col my-1">
        <input type="file" name="uploadEmails" class="form-control" required>
      </div>
      <div class="col my-1">
        <label for="name">Room Name:</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="col my-1">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date" required>
      </div>
      <div class="col my-1">
        <label for="start-time">Start Time:</label>
        <input type="time" id="start-time" name="start-time" required>
      </div>
      <div class="col my-1">
        <label for="meet-link">Meeting Link:</label>
        <input type="url" name="meet-link" id="meet-link">
      </div>
      <div class="col my-1">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="fs-3 py-4" style="display: none;">
    <span class="px-2">Room Id</span><span class="room-id">xxxx</span>
  </div>
</div>
{% endblock %}