{% extends 'base.html' %}
{% block main_content %}
<div class="row">
  <div class="col-8">
    <div class="course-queue">
      <h4>{{name}}</h4>
      <h4>Date: {{start_date}}</h4>

    </div>
    <br />
    <div class="queue-position">
      You are {{queuePosition}}th in the queue.<br /><br />
      <img class="rounded-circle" src={{interviewer_profile_pic}} width="70">
      Your Interviewer is {{interviewer_name}}.
    </div>
  </div>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Announcement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>Your meet is scheduled that day</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br /><br />
<div class="meet-link">Meet link:{{meeting_link}}</div>
{% endblock %}
