{% extends 'base.html' %}
{% block any_head %}
<style>
  .main-header {
    color: rgb(233, 22, 127);
    padding-top: 20px;
  }

  .main-queue {
    padding-top: 100px;
  }
</style>
{% endblock %}
{% block main_content %}
<div class="main-queue">
  <!-- TODO: uncomment below line and make the next two lines options present in a popup. Popup should open when create room button is pressed-->
  <!-- <a class="btn btn-info btn-lg" href="/create">Create New Room</a> -->
  <div class="dropdown">
    <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-bs-toggle="dropdown"
      aria-expanded="false">
      Create New Room
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/create/invite">Create shareable code</a></li>
      <li><a class="dropdown-item" href="/create/add">Add participants using email</a></li>
    </ul>
  </div>
  <div>
    <a class="btn btn-light btn-lg" href="/join">Join a Room</a>
  </div>
</div>
<br />
<h3 class="main-header">Upcoming</h3>
<div class="container">
  <table class="table table-bordered border-success table-hover" style="vertical-align: middle;">
    <thead>
      <tr>
        <th class="col-1">#</th>
        <th class="col-2">Title</th>
        <th class="col-3">Link</th>
        <th class="col-2">Date&Time</th>
        <th class="col-1">Join</th>
      </tr>
    </thead>
    <tbody>
      {% for element in table %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{element["description"]}}</td>
        <td><a class="link-primary" href="{{element['meeting_link']}}" </a>{{element['meeting_link']}}</td>
        <td>{{element["start_date"]}}</td>
        <td><a class="btn btn-primary btn-md" href="/join/{{element['_id']}}">Join</a></td>
        <!--# TODO: add join link</telement>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}