{% extends 'base.html' %}
{% block any_head %}
<style>
  .main-header {
    color: rgb(233, 22, 127);
    font-size: 25px;
    padding-top: 20px;
  }

  .main-queue {
    padding-top: 100px;
  }
</style>
{% endblock %}
{% block main_content %}
<div class="main-queue">
  <!-- TODO: uncomment below line and make the next two lines options present in a popup. Popup should open when create room button is pressed-->
  <!-- <a class="btn btn-info btn-lg" href="/create">Create New Room</a> -->
  <div class="dropdown">
    <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
      Create New Room
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/create/invite">create shareable code</a></li>
      <li><a class="dropdown-item" href="/create/invite">add participants using email</a></li>
    </ul>
  </div>
  <div>
    <a class="btn btn-light btn-lg" href="/join">Join a Room</a>
  </div>
</div>
<br />
<div class="main-header">Upcoming</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="col">Title</th>
        <th class="col">Link</th>
        <th class="col">Date</th>
        <th class="col">Join</th>
      </tr>
    </thead>
    <tbody>
      {% for element in table %}
      <tr>
        <td>{{element.Title}}</td>
        <td>{{element.Link}}</td>
        <td>{{element.Date}}</td>
        <td>{{element.Time}}</td> # TODO: add link
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}